<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light py-4">
    <style>
      .rainbow-text {
        font-family: Arial;
        font-weight: bold;
        font-size: 50px;
color:rgb(59, 59, 139)      }
      .rainbow-text .block-line > span {
        display: inline-block;
      }
      
      </style>
    <a class="navbar-brand" href="#"><div class="rainbow-text" style="text-align: center;">
Abhivaadan
    </div></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
      
        <li class="nav-item" routerLinkActive="active" *ngIf="userIsAuthenticated">
          <a class="nav-link" routerLink="/create">Create</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="userIsAuthenticated && profileisSet">
          <a class="nav-link" [routerLink]="['/profile',username]">Profile</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="userIsAuthenticated && !profileisSet ">
          <a class="nav-link" [routerLink]="['/profile']">Create Profile</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="userIsAuthenticated">
          <a class="nav-link" routerLink="/myposts">MyPosts</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="!userIsAuthenticated">
          <a class="nav-link" routerLink="/login">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" href="https://docs.google.com/forms/d/e/1FAIpQLSdTvQ91VHqPzfE5ezvEkXcChk2rQbu4ETvaCSRnP0JNc4ZizQ/viewform">Contact</a>
        </li>

        <li class="nav-item" routerLinkActive="active" *ngIf="userIsAuthenticated">
          <a class="nav-link" (click)="onLogout()">Logout</a>
        </li>
      </ul>

      <ul class="nav mymenu mt-5">
        <li class="nav-item"><a href="https://github.com/japangor" aria-label="Github" class="nav-link text-github"><i
              class="fa fa-github" style="font-size: 28px; color: black;"></i></a></li>
        <li class="nav-item"><a href="https://medium.com/@japangor" aria-label="Github"
            class="nav-link text-github"><i class="fa fa-medium" style="font-size: 28px; color: black;"></i></a></li>
        <li class="nav-item"><a href="https://www.instagram.com/japangor/" aria-label="Instagram"
            class="nav-link"><i class="fa fa-instagram" style="font-size: 28px; color: black;"></i></a></li>
        <li class="nav-item"><a href="https://www.linkedin.com/in/japangor/" aria-label="LinkedIn"
            class="nav-link"><i class="fa fa-linkedin" style="font-size: 28px; color: black;"></i></a></li>
      </ul>
    </div>
  </nav>

  <ul class="social">
    <li><a href="https://github.com/japank05"><i class="fa fa-github"></i></a></li>
    <li><a href="https://medium.com/@japangor05"><i class="fa fa-medium"></i></a></li>
    <li><a href="https://www.instagram.com/japan_gor05/"><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://www.linkedin.com/in/japan-gor-765868126/"><i class="fa fa-linkedin"></i></a></li>
  </ul>
</div>


